<!DOCTYPE html>
<html>

<body>
  <div class="head-pic">
    <img class="one-head" src="../../assets/images/back_one_head.webp" alt="">
    <img class="two-head" src="../../assets/images/back_two_head.webp" alt="">
  </div>
  <div class="header-site">
    <div class="container top-header">
      <img class="icon-logo" src="../../assets/images/logo-light.webp" alt="">
      <div class="user-nav">
        <div class="sign-in">
          <input type="button" class="sign-up-btn" value="ثبت نام">
          <span class="fi fi-rr-user-add sign-up-icon"></span>
        </div>
        <div class="sing-up">
          <input type="button" class="sign-in-btn" value="وارد شوید">
          <span class="fi fi-rs-sign-in-alt sign-in-icon"></span>
        </div>
      </div>
    </div>
    <div class="container-fluid bottom-header">
      <div class="container bottom-header-con position-relative">
        <div class="home position-absolute">
          <span class="fi fi-rs-home home-icon"></span>
          <div class="title-holder">
            <span class="fa-title">خانه</span>
            <br>
            <span class="en-title">HOME</span>
          </div>
        </div>
        <div class="movies position-absolute">
          <span class="fi fi-rs-film home-icon"></span>
          <div class="title-holder">
            <span class="fa-title">دانلود فیلم</span>
            <br>
            <span class="en-title">MOVIES</span>
          </div>
        </div>
        <div class="series position-absolute">
          <span class="fi fi-rs-screen home-icon"></span>
          <div class="title-holder">
            <span class="fa-title">دانلود سریال</span>
            <br>
            <span class="en-title">SERIES</span>
          </div>
        </div>
        <div class="artists position-absolute">
          <span class="fi fi-ts-theater-masks home-icon"></span>
          <div class="title-holder">
            <span class="fa-title">هنرمندان</span>
            <br>
            <span class="en-title">ARTISTS</span>
          </div>
        </div>
        <div class="contatct position-absolute">
          <span class="fi fi-rr-headset home-icon"></span>
          <div class="title-holder">
            <span class="fa-title">تماس با ما</span>
            <br>
            <span class="en-title">CONTACT</span>
          </div>
        </div>
        <div class="search">
          <input type="text" class="search-box" placeholder="   جستجو کنید...">
        </div>
      </div>
    </div>
  </div>
  <div class="container site-container">
    <div class="carousell position-relative">
      <div class="swiper">
        <swiper-container class="swiper-container">
          <swiper-slide class="swiper-slide">
            <div class="swiper-page position-relative">
              <div class="swiper-page-right-pic position-absolute">
                <div class="swiper-page-right-pic-img">
                  <img src="../../assets/images/DreamScenario.jpg" alt="">
                </div>
              </div>
              <div class="swiper-page-left-pic position-absolute">
                <div class="swiper-page-right-pic-img">
                  <img src="../../assets/images/FamilyPlan.jpg" alt="">
                </div>
              </div>
              <div class="swiper-page-center-pic position-absolute">
                <div class="swiper-page-center-pic-img">
                  <img src="../../assets/images/ChickenRun.jpg" alt="">
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <div class="swiper-page position-relative">
              <div class="swiper-page-right-pic position-absolute">
                <div class="swiper-page-right-pic-img">
                  <img src="../../assets/images/DreamScenario.jpg" alt="">
                </div>
              </div>
              <div class="swiper-page-left-pic position-absolute">
                <div class="swiper-page-right-pic-img">
                  <img src="../../assets/images/FamilyPlan.jpg" alt="">
                </div>
              </div>
              <div class="swiper-page-center-pic position-absolute">
                <div class="swiper-page-center-pic-img">
                  <img src="../../assets/images/ChickenRun.jpg" alt="">
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <div class="swiper-page position-relative">
              <div class="swiper-page-right-pic position-absolute">
                <div class="swiper-page-right-pic-img">
                  <img src="../../assets/images/DreamScenario.jpg" alt="">
                </div>
              </div>
              <div class="swiper-page-left-pic position-absolute">
                <div class="swiper-page-right-pic-img">
                  <img src="../../assets/images/FamilyPlan.jpg" alt="">
                </div>
              </div>
              <div class="swiper-page-center-pic position-absolute">
                <div class="swiper-page-center-pic-img">
                  <img src="../../assets/images/ChickenRun.jpg" alt="">
                </div>
              </div>
            </div>
          </swiper-slide>


        </swiper-container>
      </div>
      <div class="more-films">
        فیلم‌های برگزیده
      </div>



    </div>
    <div class="smart-search">
      <div class="row">
        <div class="col-12 position-relative smart-search-right no-pad">
          <div class="row height-100">
            <div class="col-2 no-pad">
              <div class="QR-code">
                <span class="fi fi-tr-discover smart-srarch-icon"></span>
              </div>
            </div>
            <div class="col-10 no-pad">
              <div class="row search-row">
                <div class="col-8 no-pad height-100">
                  <div class="row height-25">
                    <div class="col-3">
                      <div class="type">
                        <span>نوع</span>
                        <div class="type-btn">
                          <div class="film">فیلم</div>
                          <div class="serial">سریال</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="kargardan">
                        <span>کارگردان</span>
                        <input type="text" name="kargardan" id="kargardan" class="kargardan-input"
                          placeholder="Christopher Nolan">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="bazigaran">
                        <span>بازیگران</span>
                        <input type="text" name="bazigaran" id="bazigaran" class="kargardan-input"
                          placeholder="Leonardo Dicaprio">
                      </div>
                    </div>
                  </div>
                  <div class="row height-25">
                    <div class="col-12 padding-15">
                      <div class="country">
                        <span>کشور</span>
                        <select name="country" id="country">

                        </select>
                      </div>
                      <div class="age">
                        <span>رده سنی</span>
                        <select name="age" id="age">

                        </select>
                      </div>
                      <div class="zhanr">
                        <span>ژانر</span>
                        <select name="zhanr" id="zhanr">

                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row height-25">
                    <div class="col-12 padding-15">
                      <div class="quality">
                        <span>کیفیت</span>
                        <select name="quality" id="quality">

                        </select>
                      </div>
                      <div class="channel">
                        <span>شبکه</span>
                        <select name="channel" id="channel">

                        </select>
                      </div>
                      <div class="order-by">
                        <span>ترتیب</span>
                        <select name="order-by" id="order-by">

                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row height-25">

                  </div>

                </div>
                <div class="col-4 no-pad ">
                  <div class="row">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="main-site ">
      <div class="row ">
        <div class="col-4 update-list">

          <div class="last-series">
            <div class="last-series-icon">
              <div class="last-series-iecon-holder">
                <span class="fi fi-rs-screen"></span>
              </div>
              <div class="last-series-title-holder">
                <h3>سریال‌های</h3>
                <h4>بروز شده</h4>
              </div>
            </div>
            <div class="top-series-update">
              <div class="top-series-update-cover">
                <img src="../../assets/images/3245berlin-204x300.jpg" alt="">
              </div>
              <span>قسمت </span>
              <span class="e-number">8</span>
              <span> فصل اول </span>
              <span>با زیرنویس منتشر شد</span>
            </div>
            <div class="list-series-update" *ngFor="let data of update_series">
              <div class="list-series-update-cover">
                <img [src]="data.img_path" alt="">
              </div>
              <span>قسمت </span>
              <span class="e-number">{{data.e_number}}</span>
              <span>{{data.s_number}}</span>
              <span>با زیرنویس منتشر شد</span>
            </div>
          </div>

          <div class="persian-dubbled">
            <div class="persian-dubbled-title-box">
              <div class="persian-dubbled-title">
                <div class="persian-dubbled-icon-holder">
                  <span class="fi fi-rs-circle-microphone"></span>
                  <div class="FA">FA</div>
                </div>
                <div class="persian-dubbled-title-holder">
                  <h3>فیلم‌های</h3>
                  <h4>دوبله فارسی</h4>
                </div>
              </div>
            </div>
            <div class="persian-dubbled-carousell">
              <swiper-container>
                <swiper-slide>
                  <div class="persian-dubbled-cover">
                    <img src="" alt="">
                  </div>
                  <h2>Jurassic World 2015</h2>
                  <div class="imdb-rate-dubbled">
                    <strong>6.9</strong>
                    <small>/10</small>
                  </div>
                </swiper-slide>
              </swiper-container>
            </div>
          </div>

          <div class="category-film">
            <div class="category-film-title-box">
              <div class="category-film-title">
                <div class="category-film-icon-holder">
                  <span class="fi fi-rs-camera-movie"></span>
                </div>
                <div class="category-film-title-holder">
                  <h3>دسته بندی</h3>
                  <h4>فیلم‌ها</h4>
                </div>
              </div>
            </div>
            <div class="category-film-items">
              <ul>
                <li *ngFor="let data of film_category">
                  <span class="li-list-style">> </span>
                  <span class="li-name">{{data.name}}</span>
                  <span class="li-count">({{data.count}})</span>
                </li>
              </ul>
            </div>
          </div>

          <div class="category-series">
            <div class="category-series-title-box">
              <div class="category-series-title">
                <div class="category-series-icon-holder">
                  <span class="fi fi-rs-camera-movie"></span>
                </div>
                <div class="category-series-title-holder">
                  <h3>دسته بندی</h3>
                  <h4>فیلم‌ها</h4>
                </div>
              </div>
            </div>
            <div class="category-series-items">
              <ul>
                <li *ngFor="let data of series_category">
                  <span class="li-list-style">> </span>
                  <span class="li-name">{{data.name}}</span>
                  <span class="li-count">({{data.count}})</span>
                </li>
              </ul>
            </div>
          </div>

          <div class="persian-dubbled">
            <div class="persian-dubbled-title-box">
              <div class="persian-dubbled-title">
                <div class="persian-dubbled-icon-holder">
                  <span class="fi fi-br-filmsfi fi-bs-circle-video"></span>
                </div>
                <div class="persian-dubbled-title-holder">
                  <h3>تریلرها</h3>
                  <h4>به زودی</h4>
                </div>
              </div>
            </div>
            <div class="persian-dubbled-carousell">
              <div class="persian-dubbled-cover">
                <img src="" alt="">
              </div>
              <h2>Jurassic World 2015</h2>
              <div class="imdb-rate-dubbled">
                <strong>6.9</strong>
                <small>/10</small>
              </div>
            </div>
          </div>

        </div>
        <div class="col-8 new-list no-pad">
          <div class="new-item" *ngFor="let data of new_item">
            <div class="row no-pad">
              <div class="col-3 cover">
                <div class="inner-cover">
                  <img src="../../assets/images/Coverjpg.jpg" alt="">
                </div>
                <div class="show-trailer position-relative">
                  <div class="show-trailer-icon position-relative">
                    <div class=".show-trailer-icon-span">
                      <span class="fi fi-rs-clapperboard-play play"></span>
                    </div>
                  </div>
                  <span class="show-trailer-span">مشاهده تریلر</span>
                </div>
              </div>
              <div class="col-9 meta-loop">
                <div class="title-meta">
                  <div class="title-right-side">
                    <span>دانلود فیلم The Teachers’ Lounge 2023</span>
                  </div>
                  <div class="title-left-side"></div>
                </div>
                <div class="meta-item">
                  <ul>
                    <li>
                      <span class="imdb fi fi-brands-imdb"></span>
                      <span class="lab-item"></span>
                      <span class="rec-item"></span>
                    </li>
                    <li>
                      <span class="like fi fi-rr-circle-heart"></span>
                      <span class="lab-item"></span>
                      <span class="rec-item"></span>
                    </li>
                    <li>
                      <span class="icon-holder fi fi-rr-high-definition"></span>
                      <span class="lab-item"> کیفیت : </span>
                      <span class="rec-item">{{data.quality}}</span>
                    </li>
                    <li>
                      <span class="icon-holder fi fi-rs-stopwatch"></span>
                      <span class="lab-item"> زمان : </span>
                      <span class="rec-item">{{data.time}}</span>
                    </li>
                    <li>
                      <span class="icon-holder fi fi-rr-folder-open"></span>
                      <span class="lab-item"> ژانر : </span>
                      <span class="rec-item">{{data.zhanr}}</span>
                    </li>
                    <li>
                      <span class="icon-holder fi fi-rs-user"></span>
                      <span class="lab-item"> کارگردان : </span>
                      <span class="rec-item">{{data.kargardan}}</span>
                    </li>
                    <li>
                      <span class="icon-holder fi fi-rr-theater-masks"></span>
                      <span class="lab-item"> ستارگان : </span>
                      <span class="rec-item">{{data.stars}}</span>
                    </li>
                    <li>
                      <span class="icon-holder fi fi-rr-globe"></span>
                      <span class="lab-item"> محصول کشور : </span>
                      <span class="rec-item">{{data.country}}</span>
                    </li>
                    <li>
                      <span class="icon-holder fi fi-br-circle-m"></span>
                      <span class="lab-item"> امتیاز منتقدین</span>
                      <span class="rec-item">{{data.m_score}}</span>
                    </li>
                  </ul>
                  <div class="caption">
                    <span class="caption-span">داستان یک مدرسه که یکی از دانش‌آموزان مظنون به دزدی می‌شود و برای همین
                      معلمی به‌نام کارلا نواک تصمیم می‌گیرد که ته توی این ماجرا را در بیاورد. او بین آرمان‌هایش و قوانین
                      سیستم آموزشی می‌ماند و حالا باید با عواقب اعمال‌اش روبه‌رو شود.</span>
                  </div>
                </div>
                <div class="download-bottom">
                  <div class="download">
                    <span>ادامه / </span>
                    <span class="download-span">دانلود</span>
                    <div class="box-icon">
                      <div class="download-icon">
                        <span class="fi fi-rr-download"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

</html>
